.main__display
  %ul.slider
    %li
      =image_tag "slider1.jpeg", class: "slider__image"
    %li
      =image_tag "slider2.jpeg", class: "slider__image"
    %li
      =image_tag "slider3.jpeg", class: "slider__image"
  .slider__box
    .slider__title 
      Almemory
    .slider__text 
      %br 普段の買い物にAlmemory。
      もう最安値で悩むことがなくなります。

