.top {
  display: flex;
}
.left {
  background-color: yellow;
  padding: 20px 20px 0 20px;
  height: 100vh;
  width: 20vw;
  &__name {
    color: blue;
    height: 15vh;
    font-size: 35px;
    font-weight: bold;
  }
  &__list {
    color: black;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
  }
}
.left__list:hover {
  font-size: 35px;
}
.right {
  background-color: white;
  width: 80vw;

  &__title {
    background-color: orange;
    height: 10vh;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
}
.right__box {
    overflow: scroll;
    height: 90vh;
  &__display {
    display: flex;
    align-items: center;
  }
  &__group {
    color: black;
    width: 40vw;
    font-size: 30px;
    margin-left: 20px;
  }
  &__member {
    color: black;
    width: 40vw;
    font-size: 25px;
    margin-left: 20px;
    border-bottom: 1px solid lightskyblue;
  }
  &__left {
    width: 40vw;
  }
}

.group {
  background-color: orange;
  position: relative;
  height: 100vh;
  width: 100vw;
  &__title {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 50px;
    height: 0;
    width: 350px;
    font-size: 50px;
  }
  &__box {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding-left: 100px;
    height: 50vh;
    width: 50vw;
  }
  &__font {
    margin-top: 10px;
    font-size: 25px;
  }
  &__field {
    display: block;
    width: 30vw;
  }
  &__send {
    margin: 30px 0;
    font-size: 30px;
    height: 60px;
    width: 100px;
  }
  &__back {
    font-size: 25px;
  }
}

.member {
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  &__add {
    cursor: pointer;
    color: #38aef0;
  }
  &__remove {
    cursor: pointer;
    color: #f05050;
  }
  &__current {
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
  }
}