.top {
  display: flex;
}
.left {
  background-color: yellow;
  padding: 20px 20px 0 20px;
  height: 100vh;
  width: 20vw;
  &__name {
    color: blue;
    height: 15vh;
    font-size: 35px;
    font-weight: bold;
  }
  &__list {
    color: black;
    display: block;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
  }
}
.left__list:hover {
  font-size: 35px;
}
.right {
  background-color: white;
  width: 80vw;

  &__title {
    background-color: orange;
    height: 10vh;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
}
.right__box {
    overflow: scroll;
    height: 90vh;
  &__display {
    display: flex;
    align-items: center;
  }
  &__group {
    color: black;
    width: 40vw;
    font-size: 30px;
    margin-left: 20px;
  }
  &__member {
    color: black;
    width: 40vw;
    font-size: 25px;
    margin-left: 20px;
    border-bottom: 1px solid lightskyblue;
  }
  &__left {
    width: 40vw;
  }
}


.group {
  background-color: yellow;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  &__title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__display {
    margin: 20px 0 0 180px;
  }
  &__font {
    font-size: 25px;
  }
  &__field {
    display: block;
    width: 30vw;
    margin-bottom: 20px;
  }
  &__member {
    margin: 20px 180px 0 0;
  }
  &__send {
    background-color: white;
    font-size: 30px;
    height: 60px;
    width: 100px;
    margin: 20px 0 0 510px;
  }
  &__back {
    width: 100vw;
    font-size: 25px;
    text-align: center;
    color: black;
    display: block;
    margin-top: 40px;
  }
}
.member {
  width: 30vw;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  &__add {
    cursor: pointer;
    color: #38aef0;
  }
  &__current {
    width: 30vw;
    display: flex;
    justify-content: space-between;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
  }
  &__remove {
    cursor: pointer;
    color: #f05050;
  }
}