* {
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  background-color: orange;
  height: 80px;
  width: 100vw;
}
  .button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__right {
      display: flex;
      align-items: center;
    }
    &__top {
      color: black;
      font-size: 50px;
      margin: 5px 30px 0 20px;
    }
    &__group {
      color: black;
      font-size: 30px;
    }
    &__icon {
      color: black;
      font-size: 50px;
      margin-right: 20px;
    }
  }
.button__top:hover {
  color: #006ebe;
}
.button__group:hover {
  color: #006ebe;
}
.button__icon:hover {
  color: #006ebe;
}

.body {
  background-color: white;
  overflow: scroll;
  height: calc(100vh - 80px - 100px);
  width: 100vw;
  &__flex {
    display: flex;
  }
  &__chat {
    display: flex;
  }
  &__name {
    margin: 10px 10px 10px 30px;
    font-size: 20px;
  }
  &__date {
    margin-top: 10px;
    font-size: 15px;
  }
  &__text {
    margin-left: 30px;
    font-size: 30px;
  }
}

.footer {
  background-color: yellow;
  display: flex;
  height: 100px;
  width: 100vw;
}
  .form {
    display: flex;
    &__placement {
      position: relative;
      margin: 15px 20px 0 50px;
      width: 65vw;
    }
    &__message {
      font-size: 20px;
      padding: 0 50px 0 20px;
      height: 50px;
      width: 65vw;
    }
    &__image {
      position: absolute;
      top: 2px;
      right: 10px;
      font-size: 30px;
    }
    &__image--none {
      display: none;
    }
    &__submit {
      background-color: white;
      margin-top: 15px;
      font-size: 30px;
      height: 50px;
      width: 80px;
    }
  }
.form__image:hover {
  color: #006ebe;
}

.group__edit {
  color: black;
  background-color: white;
  margin: 15px 0 0 50px;
  padding: 4px 0 0 11px;
  font-size: 30px;
  height: 50px;
  width: 80px;
  }
.group__edit:hover {
  color: #006ebe;
}

