* {
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  background-color: orange;
  height: 80px;
  width: 100vw;
}
  .button {
    display: flex;
    justify-content: space-between;
    &__right {
      display: flex;
      align-items: center;
    }
    &__top {
      margin: 0 50px 0 30px;
      font-size: 50px;
    }
    &__group {
      font-size: 30px;
    }
    &__icon {
      margin-right: 30px;
      font-size: 50px;
    }
  }

.body {
  background-color: white;
  overflow: scroll;
  height: calc(100vh - 80px - 100px);
  width: 100vw;
  &__chat {
    display: flex;
  }
  &__name {
    margin: 10px 10px 10px 30px;
    font-size: 20px;
  }
  &__date {
    margin-top: 10px;
    font-size: 15px;
  }
  &__text {
    margin-left: 30px;
    font-size: 30px;
  }
}

.footer {
  background-color: lightslategrey;
  display: flex;
  height: 100px;
  width: 100vw;
}
  .form {
    display: flex;
    &__placement {
      position: relative;
      margin: 15px 20px 0 50px;
      width: 65vw;
    }
    &__message {
      padding: 0 50px 0 20px;
      height: 50px;
      width: 65vw;
    }
    &__image {
      position: absolute;
      top: 2px;
      right: 10px;
      font-size: 30px;
    }
    &__image--none {
      display: none;
    }
    &__submit {
      margin-top: 15px;
      font-size: 30px;
      height: 50px;
      width: 80px;
    }
  }
  .group__edit {
    background-color: white;
    text-align: center;
    margin: 15px 0 0 50px;
    padding-top: 3px;
    font-size: 30px;
    height: 50px;
    width: 80px;
  }
