.login {
  background-color: orange;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__header__left {
    display: flex;
    margin-left: 10px;
  }
  &__header__title {
    font-size: 55px;
  }
}
.devise__change {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-right: 50px;
}
@keyframes title {
  0% {
    color: red;
  }
  50% {
    color: yellow;
  }
  100% {
    color: lime;
  }
}
.login__header__title {
  animation-name: title;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.devise__change:hover {
  font-size: 35px;
}

.sub {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: 70px;
    font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  }
}
@keyframes login {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.sub__title {
  animation-name: login;
  animation-duration: 4s;
}

.main {
  background-color: yellow;
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__display {
  background-color: white;
  width: 550px;
  height: 500px;
  margin-left: 100px;
  border: 5px solid #d2e6eb;
  position: relative;
}
.main__form {
    margin-right: 250px;
  &__font {
    font-size: 30px;
    margin-bottom: 5px;
  }
  &__field {
    width: 20vw;
    height: 5vh;
    margin-bottom: 15px;
  }
  &__send {
    background-color: white;
    width: 70px;
    height: 50px;
    font-size: 20px;
    margin-top: 30px;
  }
}


.edit {
  background-color: yellow;
  height: 100vh;
  width: 100vw;
  &__title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
  }
  &__box {
    display: flex;
    justify-content: center;
  }
  &__display {
    margin-top: 20px;
  }
  &__font {
    font-size: 25px;
  }
  &__field {
    display: block;
    width: 30vw;
    margin-bottom: 20px;
  }
  &__send {
    background-color: white;
    font-size: 30px;
    height: 60px;
    width: 100px;
    margin: 20px 0 0 835px;
  }
  &__back {
    width: 100vw;
    font-size: 25px;
    text-align: center;
    color: black;
    display: block;
    margin-top: 40px;
  }
}

.slider {
  width: 540px;
  height: 490px;
  &__image {
    width: 540px;
    height: 490px;
  }
  &__box {
    position: absolute;
    top: 0;
  }
  &__title {
    color: white;
    font-size:80px;
    font-weight: bold;
    text-shadow: 3px 1px black;
    text-align: center;
    margin-top: 20px;
  }
  &__text {
    color: white;
    font-size: 40px;
    text-shadow: 3px 1px black;
    margin-left: 10px;
  }
}


